body {
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    color: red;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#firstname {
    text-transform: capitalize;
}

#midname {
    text-transform: capitalize;
}

#lastname {
    text-transform: capitalize;
}

#update_firstname {
    text-transform: capitalize;
}

#update_midname {
    text-transform: capitalize;
}

#update_lastname {
    text-transform: capitalize;
}


/*thiết lập style cho màu sắc, vị trí, độ cao... cho pagination*/

.flex {
    width: 400px;
    height: 80px;
    line-height: 80px;
    background-color: #eeeeee;
    position: absolute;
    top: 15%;
    left: 40%;
    margin: -25px 0 0 -150px;
}


/*Thiết lập style cho thẻ ul*/

.flex ul {
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 20px 0 #cccccc;
}


/*thiết lập style cho thẻ li*/

.flex ul li {
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
}


/*tạo hiệu ứng hover cho thẻ li */

.flex ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #65bcc9;
}


/*chuyển đổi vị trí của class bar khi người dùng hover vào các con số*/

.flex ul li:hover:nth-of-type(2)~.bar {
    left: 20%;
}

.flex ul li:hover:nth-of-type(3)~.bar {
    left: 40%;
}

.flex ul li:hover:nth-of-type(4)~.bar {
    left: 60%;
}

.flex ul li:hover:nth-of-type(5)~.bar {
    left: 80%;
}


/*thiết lập style cho class bar*/

.flex ul .bar {
    width: 20%;
    background-color: dodgerblue;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}